<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}" />
  <ul>
    <div class="p-name">
      {%- if site.author -%} {{ site.author | escape }} {%- else -%} {{
      site.title | escape }} {%- endif -%}
    </div>
    {%- if site.email -%}
    <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    {%- endif -%}
  </ul>
  <ul>
    <p class="site-description">
      {{- site.description | escape -}}
    </p>
  </ul>
  <ul class="social-medias">
    <a href="https://dribbble.com/volpertindustries"
      ><i class="fab fa-dribbble"></i
    ></a>
    <a href="https://github.com/alfovo"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/tagging_whales"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/alexandra-volpert-a6a2a758/"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </ul>
</footer>
