<div class="aside">
	<div class="row justify-content-left">
		  <div class="col-lg-10">
			<p>Up to a billion birds perish each year from colliding with buildings in the United States. During the day, reflective surfaces can be invisible to birds and at night, bright lights disorient migrating species. Since monitoring began in the fall of 2014, over 900 birds from 89 different species have been collected and studied in Atlanta.</p>
			<p>At the 2018 Greenspace Hackathon, I joined Adam Betuel of the <a href="https://www.atlantaaudubon.org/"> Atlanta Audubon Society</a> and 10 other volunteers to raise awareness about bird collisions within our community.</p>
		</div>
	</div>
</div>
<div class="aside">
	<div class="row justify-content-left">
	  <div class="col-md-5">
	  	<img src="/assets/img/design/gh_rescued_bird.jpg" alt="Mobile design"/>
	  </div>
	  <div class="col-lg-3 col-md-5 m-4">
		<div class="explainer-text">
			<h4>Role</h4>
			<hr>
			<p>Helped with UI/UX design, front-end, and created the hero image illustration</p>
		</div>
		<div class="explainer-text">
			<h4>Tools</h4>
			<hr>
			<p>Pen & Paper, Sticky notes, Sketch, Bootstrap4, <a href="https://developers.google.com/maps/documentation/javascript/visualization">Google Maps Visualization Library</a>, <a href="https://d-bird.org/atl/">Atlanta D-bird Collision Data</a></p>
		</div>
	  </div>
	</div>
</div>
