<div class="aside">
	<div class="row justify-content-left">
		  <div class="col-lg-10">
			<p>A startup that provides intelligent URLs, <a href="https://www.geni.us/">GeniusLink,</a> hired me to design and develop a web application that shows country specific redirection information for intelligent links. I used ServiceStack, ASP.NET Core 2.0, and MongoDB on the back-end; Bootstrap4 and Vue.js on the front-end.</p>
		</div>
	</div>
	<div class="row justify-content-left">
	  <div class="col-md-4">
	  	<img src="/assets/img/design/lp_mobile.png" alt="Mobile design"/>
	  </div>
	  <div class="col-lg-3 col-md-5 mt-4 ml-4">
		<div class="explainer-text">
			<h4>Role</h4>
			<hr>
			<p>UI/UX designer, Front-end Developer, Back-end Developer</p>
		</div>
		<div class="explainer-text">
			<h4>Tools</h4>
			<hr>
			<p>Pen & Paper, Figma, Git, Bootstrap4, Vue.js, ServiceStack, .NET Core 2.0, MongoDB</p>
		</div>
		<div class="explainer-text">
			<h4>Goal</h4>
			<hr>
			<p>Within four months design, code and deploy a web application.</p>
		</div>
	  </div>
	</div>
</div>


<div class="aside">
	<div class="row">
		<div class="col-lg-10 explainer-text">
			<h2>The Design Challenge</h2>
			<p>Link Explorer is a free web tool that allows marketers to examine how their intelligent links are behaving and routing. Genius LInk is hoping that it will help their customers save time when testing how their intelligent links are behaving as they're being routed to various destinations around the world.</p>
		</div>
	</div>
</div>

<div class="aside">
	<div class="row">
		<div class="col-lg-10 explainer-text">
			<h4>Key Features</h4>
			<hr>
	      	<p><ol>
		        <li>Showing how an intelligent link reacts in different scenarios (locations, devices, languages).
		        </li>
		        <li>Generating a tangible report from testing to share with their peers.
		        </li>
		        <li>Creating a tool that is fun to use and will become the go-to tool for marketers to check their links with.
		        </li>
	      	</ol></p>
	      	<p>Stay posted. Link Explorer is expected to launch in April.</p>
		</div>
	</div>
</div>


<div class="aside">
	<div class="row justify-content-left">
	  <div class="col-lg-10">
	  	<img class="prototype" src="/assets/img/design/lp_desktop.png" alt="Desktop design"/>
	  </div>
	</div>
</div>
