<div class="row justify-content-left">
  <div class="col-md-4 col-sm-6">
    <img src="/assets/img/design/lp_mobile.png" alt="Mobile design" />
  </div>
  <div class="col-lg-4 col-md-6 m-2">
    <h3>The Design Challenge</h3>
    <p>
      Link Explorer is a free web tool that allows marketers to examine how
      their intelligent links are behaving and routing. Genius LInk is hoping
      that it will help their customers save time when testing how their
      intelligent links are behaving as they're being routed to various
      destinations around the world.
    </p>
    <h4>Key Features</h4>
    <ol>
      <li>
        Show how an intelligent link reacts in different scenarios.
      </li>
      <li>
        Generate a tangible report that users can easily share.
      </li>
      <li>
        Create a tool that is fun to use and will become the go-to tool for
        marketers to checking their links.
      </li>
    </ol>
  </div>
</div>
