<div class="aside">
<div class="row justify-content-left">
	<div class="col-md-5 explainer-text">
		<h4>Directed User Interviews</h4>
		<hr>
		<p>Who really needs a life coach? I surveyed 9 people from age 26 to 65 about whether they would consider life coaching, of not why not and if so what were they hoping to get out of a session or group of sessions.</p>
	</div>
	<div class="col-md-5 align-self-center explainer-text">
		<h4>89% of respondents were interested in life coaching</h4>
		<h4>67% of respondents mentioned overcoming obstacles</h4>
		<h4>78% of respondents mentioned achieving goals</h4>
	</div>
</div>
</div>
