<div class="aside">
<div class="row justify-content-left">
	<div class="col-md-6 align-self-center explainer-text">
		<h4>Directed User Interviews</h4>
		<hr>
		<p>Assesing their interest in and expectations concerning life coaching, I surveyed 9 people from age 26 to 65. Since the number of respondents was relatively small, I did not feel I had enough data to create user profiles. However, there did not seem to be a correlation between age or gender and interest in life coaching.</p>
	</div>
	<div class="col-md-4 explainer-text">
		<h2 style="margin-top:0px;">89%</h2>
		<p>of respondents were at least casually interested in life coaching</p>
<!-- 		<h2>67%</h2>
		<p>of respondents mentioned overcoming obstacles</p> -->
		<h2>78%</h2>
		<p> of respondents mentioned needing motivation</p>
	</div>
</div>
</div>
