<div class="aside">
	<div class="row">
		<div class="col-lg-10">
			<img src="/assets/img/design/nk_schedule_prototype.gif" alt="Mobile design"/>
		</div>
	</div>
</div>
<div class="aside">
	<div class="row">
		<div class="col-lg-10 explainer-text">
			<h4>User Testing</h4>
			<hr>
			<p>Using the profiles on <a href="https://www.expertise.com/dc/washington/life-coaches">Expertise</a> of the top 12 life coaches in the D.C. metro area, I made a word map of the 56 most common words. I removed the words coach, coaching, counseling, life, clients, area, individuals, provides, professional, experience, services, client, common words and any proper nouns to produce more meaningful results.</p>
			<p>I sorted the words from the word map into categories representing three seperate value propositions:</p>
		</div>
	</div>
</div>
