<div class="aside">
	<div class="row justify-content-left">
				<div class="col-lg-5 prototype">
			<img src="/assets/img/design/nk_value_propositions.gif" alt="Mobile design"/>
		</div>
		<div class="col-lg-5 align-self-center explainer-text">
			<h4>Key Insights</h4>
	  		<hr>
			<ol>
				<p><li>Three different key value propositions for life coaching emerged from my competitive brand analysis: motivational, strategic goal setting and skills development, and therapeutic.</li></p>
				<p><li>Most people are at least casually interested in life coaching. Nina's potential customer base includes anyone who is experiencing a disconnect between the life they would like and the life they currently have. According to my research, this is often a person who has an experience or is in a situation that is preventing them from achieving their goals.</li></p>
				<p><li>By emphasizing her three value propositions, Nina can appeal to everyone in her customer base. Also by offering a free consultation that's easy to sign up for, she can turn casually interested people into return customers.</li></p>
			</ol>
		</div>
<!-- 		<div class="col-lg-5 prototype">
			<img src="/assets/img/design/nk_value_propositions.gif" alt="Mobile design"/>
		</div> -->
	</div>
</div>
