<!-- Creative Commons Licence (by-nc-nd). See worditout.com for details -->
<div class="aside">
	<div class="row">
		<div class="col-lg-10 explainer-text">
			<h4>Competitive Brand Analysis</h4>
			<hr>
			<p>Using the profiles on <a href="https://www.expertise.com/dc/washington/life-coaches">Expertise</a> of the top 12 life coaches in the D.C. metro area, I made a word map of the 56 most common words. I removed the words coach, coaching, counseling, life, clients, area, individuals, provides, professional, experience, services, client, common words and any proper nouns to produce more meaningful results.</p>
			<p>I sorted the words from the word map into categories representing three seperate value propositions:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 explainer-text">
		  	<ul>
			  	<li><p><b>Therapeutic: </b>holistic, purpose, wellness, compassionate, healing, living, fulfilling, dedicated</p></li>
			  	<li><p><b>Motivational: </b>progress-inhibiting, obstacles, overcome, empowering, forward, challenges, achieve</p></li>
			  	<li><p><b>Strategic: </b>effective, strategies, strategy, tools, goals, purposeful, habits, learn</p></li>
			</ul>
		</div>
		<div class="col-lg-7 align-self-center">
			<script type='text/javascript' charset='utf-8'  src='https://worditout.com/word-cloud/2868583/embed.js'></script>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
			<p>When reading the profiles, I noticed similar areas of emphasis. Coaches like Barbara Herzog and Jim Weinstein seem to lean heavily on their skill as motivational speakers. Other brands like Carey Coaching and Catherine Ecton Life Coaching emphasize their experience in strategic planning and development. Still others are featured in <a href="https://www.psychologytoday.com/us/therapists/life-coaching/dc/washington">Psychology Today</a> as licensed therapists equipped to deal with trauma or deficient self-esteem.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 align-self-center explainer-text">
			<h4>Directed User Interviews</h4>
			<hr>
			<p>Assesing their interest in and expectations concerning life coaching, I surveyed 9 people from age 26 to 65. Since the number of respondents was relatively small, I did not feel I had enough data to create user profiles. However, there did not seem to be a correlation between age or gender and interest in life coaching.</p>
		</div>
		<div class="col-md-4 explainer-text">
			<h2 style="margin-top:0px;">89%</h2>
			<p>of respondents were at least casually interested in life coaching</p>
	<!-- 		<h2>67%</h2>
			<p>of respondents mentioned overcoming obstacles</p> -->
			<h2>78%</h2>
			<p> of respondents mentioned needing motivation</p>
		</div>
	</div>
	<div class="row justify-content-left">
		<div class="col-lg-4">
			<img class="prototype" src="/assets/img/design/nk_value_propositions.gif" alt="Mobile design"/>
		</div>
		<div class="col-lg-6 p-4 align-self-center explainer-text">
			<h4>Key Insights</h4>
	  		<hr>
			<ol>
				<p><li>Three different key value propositions for life coaching emerged from my competitive brand analysis: motivational, strategic goal setting and skills development, and therapeutic.</li></p>
				<p><li>Most people are at least casually interested in life coaching. Nina's potential customer base includes anyone who is experiencing a disconnect between the life they would like and the life they currently have. According to my research, this is often a person who has an experience or is in a situation that is preventing them from achieving their goals.</li></p>
				<p><li>By emphasizing her three value propositions, Nina can appeal to everyone in her customer base. Also by offering a free consultation that's easy to sign up for, she can turn casually interested people into return customers.</li></p>
			</ol>
		</div>
	</div>
</div>
