<div class="aside">
	<div class="row justify-content-left">
		  <div class="col-lg-10">
			<p>A successful businesswoman launching her life coaching business in Washington D.C. wants to expand her business and attract new customers.</p>
		</div>
	</div>
	<div class="row justify-content-left">
	  <div class="col-md-4 mt-3 mb-3 mr-3">
	  	<img class="prototype" src="/assets/img/design/nk_scroll.gif" alt="Mobile design"/>
	  </div>
	  <div class="col-lg-3 col-md-5 mt-3 ml-3">
		<div class="explainer-text">
			<h4>Role</h4>
			<hr>
			<p>UI/UX designer, Visual Designer, Brand Strategist</p>
		</div>
		<div class="explainer-text">
			<h4>Tools</h4>
			<hr>
			<p>Pen & Paper, Figma, Sketch, Principle, Adobe Illustrator</p>
		</div>
		<div class="explainer-text">
			<h4>Goal</h4>
			<hr>
			<p>Within four weeks create a brand strategy and digital presence for a life coach.</p>
		</div>
	  </div>
	</div>
</div>
