<!-- Creative Commons Licence (by-nc-nd). See worditout.com for details -->
<div class="aside">
<div class="row justify-content-left">
	<div class="col-lg-5 align-self-center">
		<script type='text/javascript' charset='utf-8'  src='https://worditout.com/word-cloud/2868583/embed.js'></script>
	</div>
	<div class="col-lg-5 explainer-text">
		<h4>Competitive Brand Analysis</h4>
		<hr>
		<p>Using the profiles on <a href="https://www.expertise.com/dc/washington/life-coaches">Expertise</a> of the top 12 life coaches in the D.C. metro area, I made a word map of the 56 most common words. I removed the words coach, coaching, counseling, life, clients, area, individuals, provides, professional, experience, services, client, common words and any proper nouns to produce more meaningful results.</p>
		<p>I sorted the words from the word map into categories representing three seperate value propositions:</p>
	</div>
</div>
<br>
<div class="row justify-content-left">
<!-- 	<div class="illustration-grid"> -->
  	<div class="col-md-3 explainer-text">
	  	<h4>Therapeutic</h4>
	  	<hr>
		<p>holistic, purpose, wellness, compassionate, healing, living, fulfilling, dedicated</p>
		</div>
		<div class="col-md-3 explainer-text">
			<h4>Motivational</h4>
			<hr>
			<p>progress-inhibiting, obstacles, overcome, empowering, forward, challenges, achieve</p>
		</div>
		<div class="col-md-3 explainer-text">
			<h4>Strategic</h4>
			<hr>
			<p>effective, strategies, strategy, tools, goals, purposeful, habits, learn</p>
		</div>
	<!-- </div> -->
</div>

</div>
