{% if tag == 'nina' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #f8f3e9;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ffcd34;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #cb9932;" />
  </svg>
</li>
{% endif %} {% if tag == 'ir' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #000000;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #696969;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #a9a9a9;" />
  </svg>
</li>
{% endif %} {% if tag == 'camelot' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #e9d415;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ffab8a;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #8ae0ce;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #0a8b5d;" />
  </svg>
</li>
{% endif %} {% if tag == 'barks' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #f4c6c6;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #f59493;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #d5c52a;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #a4dad0;" />
  </svg>
</li>
{% endif %} {% if tag == 'genius' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #00b9ee;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #616161;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #f2c94c;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #31a354;" />
  </svg>
</li>
{% endif %} {% if tag == 'hackathon' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ce4db4;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #56cee2;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #2c7fb8;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #e1e4f0;" />
  </svg>
</li>
{% endif %} {% if tag == 'emoji' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #fb8c00;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #fbd043;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #4c4c4c;" />
  </svg>
</li>
{% endif %} {% if tag == 'pantry' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ffeded;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ec863c;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #27b4bd;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #e0afe8;" />
  </svg>
</li>
{% endif %} {% if tag == 'lifelink' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #e5e5e5;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #f98633;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #f3b5b5;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #a372d4;" />
  </svg>
</li>
{% endif %} {% if tag == 'etiquette' %}
<li>
  <span class="dot" style="background-color: #2f245b;"></span>
  <span class="dot" style="background-color: #655cbc;"></span>
  <span class="dot" style="background-color: #a5a5db;"></span>
  <span class="dot" style="background-color: #d9d9ff;"></span>
</li>
{% endif %} {% if tag == 'peaches' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ffe783;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ffb380;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ff9b57;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #f86a3c;" />
  </svg>
</li>
{% endif %} {% if tag == 'games' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #333333;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #838383;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #e0e1e0;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #77c043;" />
  </svg>
</li>
{% endif %} {% if tag == 'mom' %}
<li>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ffcb65;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #ef4770;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #abc038;" />
  </svg>
  <svg
    class="svg-inline"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    viewBox="0 0 512 512"
    width="14"
  >
    <circle cx="50%" cy="50%" r="50%" style="fill: #4bc3cb;" />
  </svg>
</li>
{% endif %} {% if tag == 'ux' %}
<li>🖼️ UI/UX Design</li>
{% endif %} {% if tag == 'data' %}
<li>🗄️ Data Science</li>
{% endif %} {% if tag == 'illustration' %}
<li>🖌 ️Illustration</li>
{% endif %} {% if tag == 'branding' %}
<li>🕴 ️Branding</li>
{% endif %} {% if tag == 'code' %}
<li>👾 Application Code</li>
{% endif %} {% if tag == 'front-end' %}
<li>🏓 Front-end Development</li>
{% endif %} {% if tag == 'festival' %}
<li>🎪 Art Festival</li>
{% endif %} {% if tag == 'ceramics' %}
<li>🏺 Ceramics</li>
{% endif %} {% if tag == 'postal' %}
<li>📬 Postal</li>
{% endif %} {% if tag == 'talk' %}
<li>🎤 Presentation</li>
{% endif %} {% if tag == 'research' %}
<li>🔬 Background Research</li>
{% endif %}
