{% if tag == 'nina' %}
<li>
  <i class="fa fa-circle" style="color:#F8F3E9"></i>
  <i class="fa fa-circle" style="color:#FFCD34"></i>
  <i class="fa fa-circle" style="color:#CB9932"></i>
</li>
{% endif %} {% if tag == 'barks' %}
<li>
  <i class="fa fa-circle" style="color:#F4C6C6"></i>
  <i class="fa fa-circle" style="color:#F59493"></i>
  <i class="fa fa-circle" style="color:#D5C52A"></i>
  <i class="fa fa-circle" style="color:#A4DAD0"></i>
</li>
{% endif %} {% if tag == 'genius' %}
<li>
  <i class="fa fa-circle" style="color:#00B9EE"></i>
  <i class="fa fa-circle" style="color:#616161"></i>
  <i class="fa fa-circle" style="color:#F2C94C"></i>
  <i class="fa fa-circle" style="color:#31A354"></i>
</li>
{% endif %} {% if tag == 'hackathon' %}
<li>
  <i class="fa fa-circle" style="color:#CE4DB4"></i>
  <i class="fa fa-circle" style="color:#56CEE2"></i>
  <i class="fa fa-circle" style="color:#41B6C4"></i>
  <i class="fa fa-circle" style="color:#2C7FB8"></i>
  <i class="fa fa-circle" style="color:#E1E4F0"></i>
</li>
{% endif %} {% if tag == 'ux' %}
<li><i class="fas fa-desktop"></i>UI/UX Design</li>
{% endif %} {% if tag == 'data' %}
<li><i class="fas fa-database"></i>Data Science</li>
{% endif %} {% if tag == 'illustration' %}
<li><i class="fa fa-paint-brush"></i>Illustration</li>
{% endif %} {% if tag == 'branding' %}
<li><i class="fab fa-superpowers"></i>Branding</li>
{% endif %} {% if tag == 'code' %}
<li><i class="fas fa-terminal"></i>Application Code</li>
{% endif %} {% if tag == 'front-end' %}
<li><i class="fas fa-code"></i>Front-end Development</li>
{% endif %}
