{% if tag == 'nina' %}
<li>
  <i class="fa fa-circle" style="color: #f8f3e9;"></i>
  <i class="fa fa-circle" style="color: #ffcd34;"></i>
  <i class="fa fa-circle" style="color: #cb9932;"></i>
</li>
{% endif %} {% if tag == 'ir' %}
<li>
  <i class="fa fa-circle" style="color: #000000;"></i>
  <i class="fa fa-circle" style="color: #696969;"></i>
  <i class="fa fa-circle" style="color: #a9a9a9;"></i>
</li>
{% endif %} {% if tag == 'camelot' %}
<li>
  <i class="fa fa-circle" style="color: #e9d415;"></i>
  <i class="fa fa-circle" style="color: #ffab8a;"></i>
  <i class="fa fa-circle" style="color: #8ae0ce;"></i>
  <i class="fa fa-circle" style="color: #0a8b5d;"></i>
</li>
{% endif %} {% if tag == 'barks' %}
<li>
  <i class="fa fa-circle" style="color: #f4c6c6;"></i>
  <i class="fa fa-circle" style="color: #f59493;"></i>
  <i class="fa fa-circle" style="color: #d5c52a;"></i>
  <i class="fa fa-circle" style="color: #a4dad0;"></i>
</li>
{% endif %} {% if tag == 'genius' %}
<li>
  <i class="fa fa-circle" style="color: #00b9ee;"></i>
  <i class="fa fa-circle" style="color: #616161;"></i>
  <i class="fa fa-circle" style="color: #f2c94c;"></i>
  <i class="fa fa-circle" style="color: #31a354;"></i>
</li>
{% endif %} {% if tag == 'hackathon' %}
<li>
  <i class="fa fa-circle" style="color: #ce4db4;"></i>
  <i class="fa fa-circle" style="color: #56cee2;"></i>
  <i class="fa fa-circle" style="color: #41b6c4;"></i>
  <i class="fa fa-circle" style="color: #2c7fb8;"></i>
  <i class="fa fa-circle" style="color: #e1e4f0;"></i>
</li>
{% endif %} {% if tag == 'emoji' %}
<li>
  <i class="fa fa-circle" style="color: #fb8c00;"></i>
  <i class="fa fa-circle" style="color: #fbd043;"></i>
  <i class="fa fa-circle" style="color: #4c4c4c;"></i>
</li>
{% endif %} {% if tag == 'pantry' %}
<li>
  <i class="fa fa-circle" style="color: #ffeded;"></i>
  <i class="fa fa-circle" style="color: #ec863c;"></i>
  <i class="fa fa-circle" style="color: #27b4bd;"></i>
  <i class="fa fa-circle" style="color: #e0afe8;"></i>
</li>
{% endif %} {% if tag == 'lifelink' %}
<li>
  <i class="fa fa-circle" style="color: #e5e5e5;"></i>
  <i class="fa fa-circle" style="color: #f98633;"></i>
  <i class="fa fa-circle" style="color: #f3b5b5;"></i>
  <i class="fa fa-circle" style="color: #a372d4;"></i>
</li>
{% endif %} {% if tag == 'etiquette' %}
<li>
  <i class="fa fa-circle" style="color: #2f245b;"></i>
  <i class="fa fa-circle" style="color: #655cbc;"></i>
  <i class="fa fa-circle" style="color: #a5a5db;"></i>
  <i class="fa fa-circle" style="color: #d9d9ff;"></i>
</li>
{% endif %} {% if tag == 'peaches' %}
<li>
  <i class="fa fa-circle" style="color: #ffe783;"></i>
  <i class="fa fa-circle" style="color: #ffb380;"></i>
  <i class="fa fa-circle" style="color: #ff9b57;"></i>
  <i class="fa fa-circle" style="color: #f86a3c;"></i>
</li>
{% endif %} {% if tag == 'games' %}
<li>
  <i class="fa fa-circle" style="color: #333333;"></i>
  <i class="fa fa-circle" style="color: #838383;"></i>
  <i class="fa fa-circle" style="color: #e0e1e0;"></i>
  <i class="fa fa-circle" style="color: #77c043;"></i>
</li>
{% endif %} {% if tag == 'mom' %}
<li>
  <i class="fa fa-circle" style="color: #ffcb65;"></i>
  <i class="fa fa-circle" style="color: #f1865d;"></i>
  <i class="fa fa-circle" style="color: #f171a1;"></i>
  <i class="fa fa-circle" style="color: #ef4770;"></i>
  <i class="fa fa-circle" style="color: #abc038;"></i>
  <i class="fa fa-circle" style="color: #4bc3cb;"></i>
</li>
{% endif %} {% if tag == 'ux' %}
<li>🖼️ UI/UX Design</li>
{% endif %} {% if tag == 'data' %}
<li>🗄️ Data Science</li>
{% endif %} {% if tag == 'illustration' %}
<li>🖌️Illustration</li>
{% endif %} {% if tag == 'branding' %}
<li>🕴️Branding</li>
{% endif %} {% if tag == 'code' %}
<li>👾 Application Code</li>
{% endif %} {% if tag == 'front-end' %}
<li>🏓 Front-end Development</li>
{% endif %} {% if tag == 'festival' %}
<li>🎪 Art Festival</li>
{% endif %} {% if tag == 'ceramics' %}
<li>🏺 Ceramics</li>
{% endif %} {% if tag == 'postal' %}
<li>📬 Postal</li>
{% endif %} {% if tag == 'talk' %}
<li>🎤 Presentation</li>
{% endif %} {% if tag == 'research' %}
<li>🔬 Background Research</li>
{% endif %}
