---
# Style for the about section
---

.iconography {
  display: flex;
  justify-content: center;
  flex-direction: row;
  & svg {
    margin: 0 auto;
  }
}

// the big eye
.big-eye-blink {
  animation: blink 3s linear infinite;
}

@keyframes blink {
  0% {
    fill: none;
  }
  100% {
    fill: #fff;
  }
}

// old gw
.washington,
.washington-shadow {
  transition: transform 0.5s ease-in 0.3s;
}

.washington:hover {
  transform: translate(10px, -10px);
  .washington-shadow {
    transform: translate(-10px, 10px);
  }
  .eyes-right {
    opacity: 1;
  }
  .eyes-left {
    opacity: 0;
  }
}

.eyes {
  transition: opacity 0.3s;
  .eyes-right {
    opacity: 0;
  }
  .eyes-left {
    opacity: 1;
  }
}

// comfort eagle
.eagle-body {
  transition: transform 0.3s ease-out 0.5s;
}

.eagle-eye {
  .closed-eye {
    opacity: 0;
    transition: transform 0.3s ease-out 0.5s;
  }
  .open-eye {
    opacity: 1;
  }
}

.eagle:hover {
  .closed-eye {
    opacity: 1;
    transform: scale(1.2) translate(-20px, -20px);
  }
  .open-eye {
    opacity: 0;
  }
  .eagle-body {
    transform: scale(1.2) translate(-20px, -20px);
  }
}
