---
---

$dark-color: #141414;

.button-square {
  background-color: $dark-color;
  color: #fff;
  border: 2.5px solid $dark-color;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, box-shadow;
  max-height: 4em;
  max-width: 300px;
  &:hover,
  &:active {
    box-shadow: -10px 10px $dark-color;
    color: $dark-color;
    background-color: #fff;
  }
  & h4 {
    margin: 0.75em;
  }
}

.horizontal-content {
  & li {
    align-self: center;
    padding: 0 1em;
  }
}
