---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$primary-text-color: #333333;
$medium-text-color: #828282;
$soft-text-color: #bdbdbd;

@mixin serif-font {
  font: 600 18px/1.5 Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, serif;
  @content;
}

@mixin sans-serif-font {
  font: 400 16px/1.5 avenir next, avenir, -apple-system, BlinkMacSystemFont,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  @content;
}

body {
  @include sans-serif-font;
  letter-spacing: 0.5px;
  line-height: 1.8em;
  color: $primary-text-color;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  @include serif-font;
}

h2,
h3 {
  margin-top: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}

/* Styling for the design page layout */

.post-list-heading {
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 1.5px;
  @include sans-serif-font;
}

/* Styling for the post layout */

.dt-published {
  @include sans-serif-font {
    font-weight: 300;
    font-size: 12px;
  }
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.post-title {
  padding-bottom: 0.15em;
}

// styling for tags for posts

.tag-list {
  @include sans-serif-font {
    font-size: 14px;
    font-weight: 300;
  }
  color: $medium-text-color;
  letter-spacing: 1.5px;
  & li {
    display: inline-block;
    padding-right: 10px;
    border-right: 1.5px solid #e8e8e8;
    @media screen and (max-width: 800px) {
      display: block;
      border-right: none;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 3px;
      padding-top: 5px;
      padding-left: 0px;
    }
  }
  & li svg {
    margin-right: 10px;
    margin-left: 5px;
    @media screen and (max-width: 800px) {
      margin-left: 2px;
    }
  }
  & li:last-child {
    border-right: none;
    padding-left: 8px;
    @media screen and (max-width: 800px) {
      padding-left: 0px;
    }
  }
  & li:last-child svg {
    margin-right: 2px;
    margin-left: 2px;
  }
  & li:first-child svg {
    margin-left: 2px;
  }
}

ul.tag-list {
  margin: 0px;
}

// wrapper
.post-content {
  max-width: 630px;
  & a {
    text-decoration: underline;
  }
}

.prototype {
  box-shadow: 0px 5px 8px #e0e0e0;
}

blockquote {
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: $primary-text-color;
}
/* Styling for the footer */

footer {
  color: $medium-text-color;
}

.social-medias a {
  margin-right: 5px;
  margin-left: 5px;
}
