---
# Styling for the post layout
---

// @import "main";
@mixin sans-serif-font {
  font: 400 16px/1.5 avenir next, avenir, -apple-system, BlinkMacSystemFont,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  @content;
}

$medium-text-color: #828282;
$very-soft-gray: #e8e8e8;

.post {
  max-width: 630px;
}

.image-series {
  display: flex;
  flex-direction: column;
}

.image-series img {
  margin: 1rem 0;
}

.horizontal-content {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1rem auto;
  flex-wrap: wrap;
  & li {
    max-width: 300px;
  }
}

.dt-published {
  @include sans-serif-font {
    font-size: 12px;
  }
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.post-title {
  padding-bottom: 0.15em;
}

.tag-list {
  @include sans-serif-font {
    font-size: 14px;
  }
  color: $medium-text-color;
  letter-spacing: 1.5px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
  & li {
    list-style: none;
    padding: 0 10px 0 5px;
    border-right: 1.5px solid $very-soft-gray;
    @media screen and (max-width: 800px) {
      border-right: none;
      padding: 0 0 10px 0;
    }
  }
  & li:last-child {
    border-right: none;
    padding-left: 8px;
    @media screen and (max-width: 800px) {
      padding-left: 0;
    }
    display: flex;
  }
  & li:first-child {
    padding-left: 0px;
  }
  & li:last-child svg {
    padding-right: 5px;
  }
}

.prototype {
  box-shadow: 0px 5px 8px #e0e0e0;
}

blockquote {
  font-size: 1rem;
  letter-spacing: 1.25px;
}
