---
layout: default
---

  <div class="row">
    {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="col-sm-4">
      <div class="illustration-grid">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <div class="post-list-heading text-center">
            {{ post.title | escape }}
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{post.date | date: date_format }}</span>
          </div>
          {% assign thumbnail = post.thumbnail %}
          <object data="{{ thumbnail }}" type="image/svg+xml">
            <img src="{{ thumbnail }}" />
          </object>
        </a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
