---
layout: default
---

<div class="grid-container">
  {% if site.posts.size > 0 %} {% for post in site.posts %}
  <a href="{{ post.url | relative_url }}">
    <div class="post-list-heading">
      {{ post.title | escape }} {% assign date_format = site.minima.date_format
      | default: "%b %-d, %Y" %}
      <span class="post-meta">{{post.date | date: date_format }}</span>
    </div>
    {% assign thumbnail = post.thumbnail %} {% if image.extname == '.svg' %}
    <object data="{{ thumbnail }}" type="image/svg+xml" alt="project post">
      <img src="{{ image.path }}" />
    </object>
    {%- else -%}
    <img src="{{ thumbnail }}" alt="project post" />
    {% endif %}
  </a>
  {% endfor %} {% endif %}
</div>
