---
layout: default
---

<div class="grid-container">
  {% if site.posts.size > 0 %} {% for post in site.posts %}
  <a href="{{ post.url | relative_url }}">
    <div class="post-list-heading">
      {{ post.title | escape }} {% assign date_format = site.minima.date_format
      | default: "%b %-d, %Y" %}
      <span class="post-meta">{{post.date | date: date_format }}</span>
    </div>
    {% assign thumbnail = post.thumbnail %}
    <img src="{{ thumbnail }}" alt="project post" />
  </a>
  {% endfor %} {% endif %}
</div>
